.titulo1 {
  color: #2CB790;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem;
  line-height: 1;
  margin: 0;
  margin-top: 2.5rem;
  position: relative;
  z-index: 10;
}

.titulo2 {
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
  margin: 0px;
  /*font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    padding: .5rem;
    margin: 0;*/
}

.titulo3 {
  color: #005b8c;
  margin-top: 10px;
  font-weight: 100;
  font-size: 15px;
  display: block;
  /*color: red;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    padding: .5rem;
    margin: 0;*/
}

.titulo4 {
  font-size: 12px;
  display: block;
  margin-top: 0px;
  /*font-weight: 60;
    font-size: 1.4rem;
    line-height: 1;
    padding: .5rem;
    margin: 0;*/
}

.titulo5 {
  font-weight: bold;
  color: #005b8c;
  text-transform: uppercase;
  margin: 0px;
}