.cabecalho {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cabecalho img {
    max-width: 150px;
}

.cabecalho h1 {
    font-size: 50px;
    font-weight: bold;
    color: blue;
}

h2{
    text-align: left;
}

h3 {
    text-align: left;
    color: blue;
}

#dados {
    display: block;
    justify-content: left;
    vertical-align:bottom"   
}

#dados .contatos img {
    max-width: 25px;
}

#dados{
    position:relative;
    border-width:px;
    width:230px;
    height: 100px;
    float: left;
}
#exp{
    position: relative;
    float: left;
    border-width:2px;
    width:auto;
    height: auto;
    left:300px;
}
.group:before,
.group:after {
    content: "";
    display: table;
    
} 
.group:after {
    clear: both;
}

.group{
    align-items: center;
    justify-content: center;
}